html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 20px;
}
h3{
  font-size: 16px;
}
p{
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

