html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;

}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #e0e0e0;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
}
a {
    color: white;
    text-decoration: none;

}
a:hover {
    color: #cccccc;
}
nav{
font-size: 16px;
color: #e0e0e0;
  
}
h2 {
  font-size: 20px;
  color: #e0e0e0;
}
h3{
  font-size: 16px;
  color: #e0e0e0;
}
p{
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #e0e0e0;
}
body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #313130;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  
}
img {
  display: block;
  margin: 0;
  max-width: 100%;  
}
.reference {
    margin-left: 2rem;
    text-indent: -2rem;
}

ol {
 font-family: sans-serif;
  display: flex;
  list-style: none;
  border: 1px solid black;
  padding: 0;
  }
 ol li {
  margin: 5px;
  flex: 1;
  display: flex
}
ul {
  font-family: sans-serif;
  list-style-type: circle;
  padding-left: 30px;
}

ul li {
  margin: 10px 0;
  font-size: 16px;
  color: white;
}


.navigation a{
  background-color: rgb(75 11 24);
  color: white;
  text-decoration: none;
  padding: 1em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigation a:hover {
  background-color: rgb(66 28 40);
  color: white;
}

.myth-fact {
padding: 10px;
  margin: 10px;
  color: white;
  background: gray;
  display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px 0;
}
iframe {
    max-width: 100%;
}

@media (max-width: 600px) {
    .navigation ol{
  flex-direction: column;
 
    }
  
 
}


